

<%= form_for(@user) do |f| %>

	<div class="common-field">
   		<%= f.text_field :name ,:size => 10 %>
	</div>

	<div class="sprite"><!--img src="assets/sprite.png"  alt="g" /-->
  		<%= f.submit %>
    </div>

<% end %>