

<%= form_for(@user) do |f| %>
  <div class="field">
    <!--%= f.label :name %><br /-->
    <%= f.text_field :name %>
  </div>


<div class="sprite">

		<img src="assets/sprite.png"  alt="g" />

  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>



<!--div class="area">
	 <textarea id="text" class="text-nickname" name="text" rows="1"></textarea>					
</div>


<div class="sprite">

		<img src="assets/sprite.png"  alt="g" />

	<div class="baton">

		<input id="submit" type="submit" name="button" value=" Drink now1 ">

	</div>

	</div-->