<!--h1>New user</h1-->
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<link rel="stylesheet" href="my.css" type="text/css" media="screen">
	
	<title> Drink with me </title>

</head>

<body>
		<img src="assets/brick.gif" width=100% alt="a" />


	
<div class="content"> 


	
	<div class="forest"> 

		<img src="assets/forest.png" alt="b" />

</div>

<div class="first"> 


	<img src="assets/first.png"  alt="d" />

	<p> If you, guys doesn't want drink alone just find someone right now who can drink and speak with you </p>

<div class="nick">
	<p>Your nickname</p>
</div>


<%= render 'form' %>


<!--div class="area">
	 <textarea id="text" class="text-nickname" name="text" rows="1"></textarea>					
</div>


<div class="sprite">

		<img src="assets/sprite.png"  alt="g" />

	<div class="baton">

		<input id="submit" type="submit" name="button" value=" Drink now1 ">

	</div>

	</div-->

</div>

	</div>

</body>
</html>


<!--%= link_to 'Back', users_path %-->
