<div class="content-wrapper">  
	<script>
	$()
	  $('#content-wrapper').load('/messenger',{name:})
	</script>
	 <div id="text">
	   If you, guys doesn't want drink alone just find someone right now who can drink and speak with you 
	</div>
	<%= render 'form' %>
</div>