
<%= form_for(@chat) do |f| %>
    <div id='message_box'>
      <%= f.text_area :message, :size => "" %>
    </div>
    <div id='btn-form'>
    	<div id='btn-wrapper'>
	    	<span class='btn-manage btn-send button' id='btn-send' >Send</span>
	     	<span class='btn-manage btn-search button' id='btn-search' >Search</span>
	     </div>
    </div>

<% end %>
