
<%= form_for(@chat) do |f| %>
    <div id='message_box'>
      <%= f.text_area :message, :size => "70x4" %>
    </div>
    <div id='btn-form'>
    	<span class='btn-send' id='btn-send'>Send</span>
     	<span class='btn-search' id='btn-search'>Search</span>
    </div>

<% end %>
