<input type='hidden' id='my_name' value='<%= @name.name %>'>
<p id='status_bar'><span id='name_dude'></span> at the bar</p>
<h1><a href='/exit'>Выйти</a></h1>
		<ul class='chat' >
			
		</ul>

		<%= render 'form' %>
	
