
	<img src="assets/brick.gif" width=100% alt="a" />

<div class="content"> 
	
	<div class="forest"> 

		<img src="assets/forest.png" alt="b" />
		</div>

<div class="first"> 
	<div class="field1">
		<ul class='chat' >
			
		</ul>

		<%= render 'form' %>
	</div>
	<<!-- img src="assets/first.png"  alt="d" /> -->
	
<p><%= @name.name %> at the bar</p>
<h1><a href='/exit'>Выйти</a></h1>
<!--input type='button' name='btn-close' class='btn-close' id='btn-close' value='закрыть соединение'
-->


</div>

</div>