<h1>Привет <%= @name.name %></h1>
<input type='button' name='btn-close' class='btn-close' id='btn-close' value='закрыть соединение'>
<div id='chat' style="width:200px;height:400px;overflow-x">
	<ul class='chat' style =" width=190px; height:390px">
	
	</ul>
</div>

<%= render 'form' %>
