<h1>Привет <%= @name.name %></h1>
<h1><a href='/exit'>Выйти</a></h1>
<input type='button' name='btn-close' class='btn-close' id='btn-close' value='закрыть соединение'>
<ul class='chat' >

</ul>

<%= render 'form' %>
