
html {
  background: url(/assets/brick.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#header {
  width: 100%;
  height: 20%;
}

#header #logo {
  width: 50%;
  height: 100%;
}

#header #logo img {
  width: 70%;
}

#content {
  width: 100%;
  height: 80%;
}

.content-wrapper {
  margin: -4% auto 15% auto;
  width: 60%;
  height: 80%;
  background: #111111;
}
#content #text {
  
  color: #9370DB;
  font-size: 12pt;
  padding: 15px;
  text-align: center;
}

.common-field{
  padding-left: 70px;
  padding-right: 70px;
  color: black;
  margin: 20px;
  }

.common-field #nick{
  color: #AFEEEE;
  font-size: 10pt;
  float: left;
}

.common-field #field{
  box-shadow: 0px 0px 1px 1px #6600CC;
  float: right;
}

.sprite {
  width: 80px;
  height: 80px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 60px;
  border: 1px #CC00FF solid;
  box-shadow: 0px 0px 1px 4px #6600CC,0px 0px 1px 5px #99CCFF, 0px 0px 1px 8px #33CCFF;
  /*ackground: #6600CC; 
   border: 3px solid #6600CC; 
   border: 4px solid #99CCFF; 
   box-shadow: 0 0 7px #99CCFF; */
 /*display: -moz-box;
 display: -webkit-box;
 display: box;
 -moz-box-orient: horizontal; 
 -webkit-box-orient: horizontal;
 box-orient: horizontal;
 -moz-box-pack: center;
 -moz-box-align: center;
 -webkit-box-pack: center;
 -webkit-box-align: center;
 box-pack: center;
 box-align: center;
*/
  top: 300px;
  left: 350px;
}

.sprite:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
  -moz-transform: rotate(360deg) scale(1.2);
  -o-transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  transform: rotate(360deg) scale(1.2);
  border: 1px #CC00FF solid;
  box-shadow: 0px 0px 1px 4px #6600CC,0px 0px 1px 5px #99CCFF, 0px 0px 1px 8px #33CCFF, 0 0 20px #9999FF;
  -webkit-box-shadow: 0px 0px 1px 4px #6600CC,0px 0px 1px 5px #99CCFF, 0px 0px 1px 8px #33CCFF, 0 0 17px #9999FF;
  -moz-box-shadow: 0px 0px 1px 4px #6600CC,0px 0px 1px 5px #99CCFF, 0px 0px 1px 8px #33CCFF, 0 0 30px #9999FF;
}



.actions input {
  background: url(assets/sprite.png);
  color: #CC00FF;
  /*border:medium none;*/
  width: 100px;
  height: 100px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

.actions:active {
  background-color: black;
  width: 100px;
  height: 100px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}