.chat{
	display:block;
	width:600px;
	height:230px;
	border:1px solid;
	overflow-x:hidden;
	padding:0;
	li{
		border-top: 1px solid;
	    display: block;
	    margin: 0;
	    min-height: 20px;
	    padding: 0;

	    &:first-child{
	    	border:none !important;
	    }
	}

}

#chat_message{
	min-width:600px;
	max-width:600px;
	height:100px;
}

