<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<%= stylesheet_link_tag  "application", :media => 'all' %>
	 <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<title> Drink with me </title>

</head>

<body>
		<img src="/assets/brick.gif" width=100% alt="a" />


	
<div class="header"> 
	
	<div class="forest"> 

		<img src="assets/forest.png" alt="b" />


			<div class="diagonal"> 

				<img src="assets/coctail.png" alt="c" />

			</div>

				<p>drink with me</p>
</div>

	<div class="chat"> 

		<div class="rectagle">

			<img src="assets/rectagle.png" alt="d" />


		</div>

		<div class="baton">
			<input id="submit" type="submit" name="button" value=" send ">
		</div>

		<div class="bat">
			<img src="assets/bat.png" alt="d" />
		</div>


	</div>
	

	<div class="video"> 
		<%= yield %>
	</div>


		</div>

</body>
</html>
