<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag  "application", :media => 'all' %>
  <%= javascript_include_tag "application" %>
  <link rel='stylesheet' href='assets/chats.css.scss'>
    <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <section id="logo">
    <img src="assets/logo.png" alt="b" />
  </section>
</header>
<section id="content">
  <div class="content-wrapper"> 
    <%= yield %>
  </div>
</section>
</body>
</html>
